{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Which Student is {{ stranger }}?{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="content">
  <form method='POST' id="center">
    {% for student in students %}
      <div class="studentName">
        <input type='radio' value='{{ student[0] }}' name='student' />
        <label>{{student[0]}}</label>
      </div>
    {% endfor %}
    <input class="button" type="submit" value="Remember" style="margin-top: 10px;" />
  </form>
</div>
{% endblock %}
