<!DOCTYPE html>

<html lang="en-US">
  <head>
    {{ JSGlue.include() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="Zachary Hoffman (front-end), Brian Hu (back-end)" />
    <title>Automatic Attendance v2.0.1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='globals.js') }}"></script>
    <script src="{{ url_for('static', filename='time.js') }}"></script>
    <script src="{{ url_for('static', filename='cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='page.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='schoolLogo.png') }}" />
  </head>
  <body>
    <script src="{{ url_for('static', filename='load.js') }}"></script>
    <nav>
      <ul>
        {% if g.user %}
          {% if name %}
            <li style="margin-right: 4px;font-size: 14px;" id="greeting">Hello <span style="padding: 0;">{{ name }}</span> </li>
          {% endif %}
          <li id="logout"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% else %}
            <li id="login"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
      <div>
        <a style="text-decoration: none;" href="{{ url_for('account.details') }}">
          <img src="{{ url_for('static', filename='schoolLogo.png') }}" alt="logo" height="50">
          <h1>Zoom-Attendance</h1>
        </a>
      </div>
    </nav>
    <div id="container">
      <header class="content">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div id="flash" class="content"><p>{{ message }}</p></div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    <footer>
      <p style="margin: 0;"><a href="{{ url_for('zoomAPI.index') }}">Manual</a></p>
      <p style="margin: 0;"><a href="{{ url_for('account.settings') }}">Upload Roster</a></p>
    </footer>
    <script>
      if (document.getElementById("remindInput")) {
        cookie == "yes" ? $("#remindInput").prop("checked", true) : $("#remindInput").prop("checked", false);
      }
      $("#refresh").ready(function() {
        tardyTime = parseInt("{{ tardyTime }}");
        if (isNaN(tardyTime)) {
          tardyTime = null;
        }
        period = parseInt("{{ period }}");
        if (isNaN(period)) {
          period = null;
        }
        pageLoad();
      });
    </script>
  </body>
<html>
