<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>Automatic Attendance - v1.3.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="Zachary Hoffman (front-end), Brian Hu (back-end)" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='schoolLogo.png') }}" />
  </head>
  <body>
    <nav>
      <ul>
        {% if g.user %}
          {% if name %}
            <li style="margin-right: 4px;font-size: 14px;">Hello <span style="padding: 0;">{{ name }}</span> </li>
          {% endif %}
          <li id="logout"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% else %}
            <li id="login"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
      <div>
        <a style="text-decoration: none;" href="{{ url_for('account.details') }}">
          <img src="{{ url_for('static', filename='schoolLogo.png') }}" alt="logo" height="50">
          <h1>Zoom-Attendance</h1>
        </a>
      </div>
    </nav>
    <div id="container">
      <div id="content">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div id="flash"><p>{{ message }}</p></div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
      <script>
        if (document.getElementById("remindInput")) {
          cookie == "yes" ? $("#remindInput").prop("checked", true) : $("#remindInput").prop("checked", false);
        }

        var cookie = getCookie("remind");
        var period = null;
        var tardyTime = null;
        var date = new Date();

        function getCookie(cname) {
          var name = cname + '=';
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return '';
        }

        function refreshAt(hours, minutes, seconds) {
          var now = new Date();
          var then = new Date();
          if (now.getHours() > hours || (now.getHours() == hours && now.getMinutes() > minutes) ||now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
            then.setDate(now.getDate() + 1);
          }
          then.setHours(hours);
          then.setMinutes(minutes);
          then.setSeconds(seconds);
          var timeout = then.getTime() - now.getTime();
          setTimeout(function() {
            element = document.getElementById("refresh");
            if (element) {
              location.reload();
            }
          }, timeout);
        }

        function tardyNotification(hour, minute, time) {
          if (cookie == "yes") {
            if (time == null) {
              return;
            }
            var then = new Date();
            var now = new Date();
            then.setHours(hour);
            then.setMinutes(minute + time);
            then.setSeconds(0);
            var timeout = then.getTime() - now.getTime();
            if (timeout < 0) {
              return;
            }
            setTimeout(function() {
              element = document.getElementById("refresh");
              if (element) {
                alert("Tardy time of " + time.toString() + " minutes reached.  Remember to update Aeries for period " + period.toString() + " now (if applicable)!");
              }
            }, timeout);
          }
        }

        function checkPass(input) {
          input.value != document.getElementById("password").value ? input.setCustomValidity("Passwords must match") : input.setCustomValidity('');
        }

        $("refresh").ready(function() {
          tardyTime = parseInt({{ tardyTime }});
          if (isNaN(tardyTime)) {
            tardyTime = null;
          }
          period = parseInt({{ period }});
          console.log({{ period }});
          if (isNaN(period)) {
            period = null;
          }
        });

        function topOfHour(hour) {
          tardyNotification(hour, 0, tardyTime);
          refreshAt(hour, 2, Math.floor(Math.random() * 30));
          refreshAt(hour, 5, Math.floor(Math.random() * 30));
          refreshAt(hour, 8, Math.floor(Math.random() * 30));
          refreshAt(hour, 25, Math.floor(Math.random() * 30));
          refreshAt(hour, 45, Math.floor(Math.random() * 30));
        }

        function bottomOfHour(hour) {
          tardyNotification(hour, 30, tardyTime);
          refreshAt(hour, 32, Math.floor(Math.random() * 30));
          refreshAt(hour, 35, Math.floor(Math.random() * 30));
          refreshAt(hour, 38, Math.floor(Math.random() * 30));
          refreshAt(hour, 55, Math.floor(Math.random() * 30));
          refreshAt(hour + 1, 15, Math.floor(Math.random() * 30));
        }


        if (date.getDay() > 0 && date.getDay() < 6) {
          refreshAt(9, 0, Math.floor(Math.random() * 60));
          refreshAt(10, 30, Math.floor(Math.random() * 60));
          refreshAt(11, 30, Math.floor(Math.random() * 60));
          refreshAt(12, 30, Math.floor(Math.random() * 60));
          refreshAt(13, 30, Math.floor(Math.random() * 60));
          refreshAt(14, 0, Math.floor(Math.random() * 60));
          if (period == 1 || period == 8) {
            topOfHour(9);
          }
          if (period == 2) {
            bottomOfHour(10);
          }
          if (period == 3) {
            bottomOfHour(12);
          }
          if (period == 4) {
            topOfHour(10);
          }
          if (period == 5) {
            bottomOfHour(11);
          }
          if (period == 6) {
            bottomOfHour(13);
          }
          if (period == 7) {
            topOfHour(14);
          }
        }
      </script>
    </div>
    <footer>
      <p style="margin: 0;"><a href="{{ url_for('zoomAPI.index') }}">Manual</a></p>
      <p style="margin: 0;"><a href="{{ url_for('account.settings') }}">Upload Roster</a></p>
    </footer>
  </body>
<html>
